@import url('resets.css');
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

/* ==========================================================================
   Globals
   ========================================================================== */

/**
 * This houses all the global css classes
 */

html, body {
	height:100%;	
	font-family: Arial, Helvetica, sans-serif;
}
.wrap {
	width:100%;
	position:relative;
	overflow:none;
	padding:0%;
}
.left {
	float:left;
}

.right {
	float:right;
}
.uppercase {
	text-transform: uppercase;
}
.divider {
	clear:both;
	height:15px;
}

.block {
	display:block;
}

.none {
	display:none;
}

.relative {
	position:relative;
}

.no-right-margin {
	margin-right:0px;
}

.no-top-margin {
	margin-top:0px;
}

.no-top-pad {
	padding-top:0px;
}

.top-20 {
	margin-top: 20px;
}

.text-left {
	text-align:left;
}

.text-right {
	text-align:right;
}

.center {
	text-align:center;
}

.fifteen {
	width: 15%;
}

.eighty5 {
	width: 85%;
}
.fifty {
	width: 50%;
}
.twenty5 {
	width: 25%;
}

/* ========================================================================================
Main 
==========================================================================================*/

aside.menu {
	background-color: #2c2c2c;
	height: 100%;
}
aside img {
	margin-top: 30px;
}
aside ul {
	padding: 0;
}
aside ul li {
	padding: 20px 0 20px 30px;
}
aside ul li:hover {
	padding: 20px 0 20px 30px;
	background-color: #272727;
}
aside ul li a:hover {
	color: #22b59d;
}
li.home {
	list-style-image: url(../img/home.png);
	list-style-position: inside;
}
li.tools {
	list-style-image: url(../img/tools.png);
 	list-style-position: inside;
 	overflow: hidden;
 	-webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}
li.tools li {
	position: relative;
}
li.tools li:nth-child(1):before {
	content: "";
	background:url(../img/folder.png) no-repeat center center;
	position: absolute;
	width: 15px;
	height: 12px;
	top: 25px;
}
li.tools li:nth-child(2):before {
	content: "";
	background:url(../img/text.png) no-repeat center center;
	position: absolute;
	width: 14px;
	height: 15px;
	top: 25px;
}
li.tools li:nth-child(3):before {
	content: "";
	background:url(../img/add.png) no-repeat center center;
	position: absolute;
	width: 11px;
	height: 12px;
	top: 25px;
}
li.tools ul li a {
	padding-left: 25px;
}


li.stats {
	list-style-image: url(../img/statistics.png);
 	list-style-position: inside;
}
aside ul li a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #919191;
}
section nav{
	background-color: #22b59d;
	height: 38px;
	width: 100%;
	padding: 0 2%;
}
section hr {
	border: 16px solid #e9e9e9;
	width: 100%;
	margin: 0;
}
section ul li {
	float: left;
	padding: 9px 20px;
}
li.manage {
	list-style-image: url(../img/manage.png);
	list-style-position: inside;
}
li.reports {
	list-style-image: url(../img/reports.png);
	list-style-position: inside;
}
section ul li a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	color: #fff;
}
.user ul li:hover {
	background-color: #1b8d7a;
	padding: 9px 20px 7px;
}
.user a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	color: #fff;
}
.main {
	padding: 25px;
}
.main h2 {
	font-family: 'Raleway';
	font-size: 30px;
	color: #5a5a5a;
	font-weight: 300;
	display: inline-block;
	padding-right: 20px;
}
.main a {
	display: inline-block;
	padding: 15px;
	text-decoration: none;
	background: #eb4b36;
	color: #fff;
}
.top {
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 25px;
}

table {
	width: 100%;
}
table tr:nth-child(even){
  background: #f6f6f6;
}
table th {
	font-size: 18px;
	color: #5a5a5a;
	padding: 10px 0;
}
table td {
	padding: 10px 0 10px 15px;
	font-size: 15px;
	color: #5a5a5a;
}
table td:nth-child(2) {
	width: 55px;
}
table td:nth-child(3) {
	width: 55px;
}
.request {
	border-bottom: 1px solid #e9e9e9;
	padding: 25px 0;
	margin-bottom: 25px;
}
.request p {
	font-family: 'Raleway';
	font-size: 18px;
	color: #5a5a5a;
	font-weight: 300;
	margin: 5px 0;
}
.request select {
	font-size: 18px;
}
.add {
	background-color: #22b59d !important;
}